<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('head') %>
</head>
<body class="">
    <%- include('navigation') %>
    <main>
        <h1>Route: /</h1>
    </main>
</body>
</html>